@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --font-serif: 'Playfair Display', serif;
  --radius: 1rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --radius: 1rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2639 0.0102 264.3844);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2639 0.0102 264.3844);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2639 0.0102 264.3844);
  --primary: oklch(0.7664 0.1201 348.9431);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9530 0.0192 314.7291);
  --secondary-foreground: oklch(0.3955 0.0565 314.1151);
  --muted: oklch(0.9836 0.0025 345.2123);
  --muted-foreground: oklch(0.6270 0.0247 264.3807);
  --accent: oklch(0.9720 0.0146 320.5548);
  --accent-foreground: oklch(0.4836 0.1112 320.7611);
  --destructive: oklch(0.6333 0.2001 24.9320);
  --border: oklch(0.9176 0.0164 320.5592);
  --input: oklch(0.9604 0.0041 320.5385);
  --ring: oklch(0.7664 0.1201 348.9431);
  --chart-1: oklch(0.7664 0.1201 348.9431);
  --chart-2: oklch(0.7106 0.1442 313.7638);
  --chart-3: oklch(0.6417 0.1329 297.9185);
  --chart-4: oklch(0.5827 0.1234 281.8769);
  --chart-5: oklch(0.6027 0.0753 263.7587);
  --sidebar: oklch(0.9836 0.0025 345.2123);
  --sidebar-foreground: oklch(0.2639 0.0102 264.3844);
  --sidebar-primary: oklch(0.7664 0.1201 348.9431);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9720 0.0146 320.5548);
  --sidebar-accent-foreground: oklch(0.4836 0.1112 320.7611);
  --sidebar-border: oklch(0.9176 0.0164 320.5592);
  --sidebar-ring: oklch(0.7664 0.1201 348.9431);
  --destructive-foreground: oklch(1.0000 0 0);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(290, 20%, 80%);
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px -2px hsl(290 20% 80% / 0.05);
  --shadow-xs: 0px 4px 10px -2px hsl(290 20% 80% / 0.05);
  --shadow-sm: 0px 4px 10px -2px hsl(290 20% 80% / 0.10), 0px 1px 2px -3px hsl(290 20% 80% / 0.10);
  --shadow: 0px 4px 10px -2px hsl(290 20% 80% / 0.10), 0px 1px 2px -3px hsl(290 20% 80% / 0.10);
  --shadow-md: 0px 4px 10px -2px hsl(290 20% 80% / 0.10), 0px 2px 4px -3px hsl(290 20% 80% / 0.10);
  --shadow-lg: 0px 4px 10px -2px hsl(290 20% 80% / 0.10), 0px 4px 6px -3px hsl(290 20% 80% / 0.10);
  --shadow-xl: 0px 4px 10px -2px hsl(290 20% 80% / 0.10), 0px 8px 10px -3px hsl(290 20% 80% / 0.10);
  --shadow-2xl: 0px 4px 10px -2px hsl(290 20% 80% / 0.25);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0.2224 0.0389 313.9355);
  --foreground: oklch(0.9198 0.0077 314.7861);
  --card: oklch(0.2539 0.0394 314.0486);
  --card-foreground: oklch(0.9198 0.0077 314.7861);
  --popover: oklch(0.2539 0.0394 314.0486);
  --popover-foreground: oklch(0.9198 0.0077 314.7861);
  --primary: oklch(0.7263 0.1249 349.3142);
  --primary-foreground: oklch(0.9601 0.0038 314.8080);
  --secondary: oklch(0.3502 0.0982 320.7327);
  --secondary-foreground: oklch(0.9198 0.0077 314.7861);
  --muted: oklch(0.3045 0.0403 314.1719);
  --muted-foreground: oklch(0.7540 0.0244 314.6700);
  --accent: oklch(0.3969 0.0879 320.7615);
  --accent-foreground: oklch(0.9198 0.0077 314.7861);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.3558 0.0513 320.7226);
  --input: oklch(0.3111 0.0321 320.6787);
  --ring: oklch(0.7263 0.1249 349.3142);
  --chart-1: oklch(0.7263 0.1249 349.3142);
  --chart-2: oklch(0.6713 0.1418 313.7098);
  --chart-3: oklch(0.5981 0.1382 297.4337);
  --chart-4: oklch(0.5414 0.1234 281.4665);
  --chart-5: oklch(0.5622 0.0710 263.7482);
  --sidebar: oklch(0.2539 0.0394 314.0486);
  --sidebar-foreground: oklch(0.9198 0.0077 314.7861);
  --sidebar-primary: oklch(0.7263 0.1249 349.3142);
  --sidebar-primary-foreground: oklch(0.9601 0.0038 314.8080);
  --sidebar-accent: oklch(0.3969 0.0879 320.7615);
  --sidebar-accent-foreground: oklch(0.9198 0.0077 314.7861);
  --sidebar-border: oklch(0.3558 0.0513 320.7226);
  --sidebar-ring: oklch(0.7263 0.1249 349.3142);
  --destructive-foreground: oklch(1.0000 0 0);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --radius: 1rem;
  --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(290, 20%, 5%);
  --shadow-opacity: 0.4;
  --shadow-blur: 15px;
  --shadow-spread: -4px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 6px;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 6px 15px -4px hsl(290 20% 5% / 0.20);
  --shadow-xs: 0px 6px 15px -4px hsl(290 20% 5% / 0.20);
  --shadow-sm: 0px 6px 15px -4px hsl(290 20% 5% / 0.40), 0px 1px 2px -5px hsl(290 20% 5% / 0.40);
  --shadow: 0px 6px 15px -4px hsl(290 20% 5% / 0.40), 0px 1px 2px -5px hsl(290 20% 5% / 0.40);
  --shadow-md: 0px 6px 15px -4px hsl(290 20% 5% / 0.40), 0px 2px 4px -5px hsl(290 20% 5% / 0.40);
  --shadow-lg: 0px 6px 15px -4px hsl(290 20% 5% / 0.40), 0px 4px 6px -5px hsl(290 20% 5% / 0.40);
  --shadow-xl: 0px 6px 15px -4px hsl(290 20% 5% / 0.40), 0px 8px 10px -5px hsl(290 20% 5% / 0.40);
  --shadow-2xl: 0px 6px 15px -4px hsl(290 20% 5% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}